[flake8]
max-line-length = 100
extend-ignore = E203, E266, E501, W503, F403, F401, E402, F541, F841, E722
exclude =
    .git,
    __pycache__,
    venv,
    env,
    build,
    dist,
    .pytest_cache
max-complexity = 15
